<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>__PROJECT_NAME__ file template to use case module</string>
	<key>Summary</key>
	<string>__PROJECT_NAME__ file template to use case module</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Use Case Name</string>
			<key>Description</key>
			<string>The name of the use case</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>NewUseCase</string>
		</dict>
	</array>
</dict>
</plist>
